.content {
  margin-top: 50px;
  text-align: justify;
  padding: 4%;
}
.headline {
  color: black;
  text-align: left;
  line-height: 5rem;
  margin-bottom: 20px;
  font-weight: 400;
  font-family: Gilroy;
}
p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-family: Helvetica;
}

strong {
color: #e62b1e;
cursor: pointer;
}

strong:visited {
  text-decoration: none;
}

.content-info {
  font-size: medium;
}
.tedx-iframe {
  width: 100%;
  height: 100%;
  margin-top: 50px;
}
.title {
  color: black;
  text-align: left;
  line-height: 5rem;
  font-weight: 400;
  font-family: Gilroy;
}
.containers {
  margin-top: 10px;
  margin-bottom: 10px;
}
