body{
  background:  #FFFAFA;
  scroll-behavior:smooth;

}

.header {

position: fixed;
width: 100%;
height: 100px;
left: 0px;
top: 0px;
background: #FFFAFA;
display: flex;
margin: auto;

align-items: center;

z-index: 2;


  -webkit-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
-moz-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
}

.header__contents {
  display: flex;
  justify-content: space-between;
}


.tedx__logo {

position: absolute;
max-width: 100%;
height: 40px;
left: 162px;
top: 28px;
display: flex;
flex-direction: row;
align-self: center;

}

#Group30 {

   position: absolute;
   width: 1032px;
   height: 136px;
   left: 244px;
   top: 411px;
   
}

#Tagline{

  position: absolute;
width: 418px;
height: 182px;
left: 860px;
top: 320px;

}

.ham-icon {
position: absolute;
width: 42px;
height: 30px;
left: 1400px;
top: 29px;
}


/* Modal menu CSS */

.modal-content {
  height: 650px;
}
.Group17 {
  position: absolute;
  width: 42px;
  height: 30px;
  left: 90%;
  top: 63px;
}
.Group8 {
  position: absolute;
  width: 10vw;
  height: 10vw;
  left: 8vh;
  top: 8vh;
}

.Rectangle59 {
  position: absolute;
  width: 15vw;
  height: 5vh;
  left: 8vh;
  top: 35vh;
}

.Explore {
  position: absolute;
  width: 10vw;
  height: 5vh;
  left: 13vh;
  top: 35vh;
}
.content {
  height: 80vh;
}
.Group16 {
  position: absolute;
  width: 30px;
  height: 30px;
  left: 302px;
  top: 433px;
}
.X {
  position: absolute;
  width: 70px;
  height: 135px;
  left: 282px;
  top: 380px;
}
.Line3 {
  position: absolute;
  left: 370px;
  top: 10vh;
  height: 500px;
}
.Line4 {
  position: absolute;
  left: 8vh;
  width: 350px;
  top: 500px;
}
.Line5 {
  position: absolute;
  left: 8vh;
  width: 350px;
  top: 520px;
}
.Ellipse201 {
  position: absolute;
  top: 550px;
  left: 60px;
}
.Ellipse202 {
  position: absolute;
  top: 550px;
  left: 100px;
}
.Ellipse203 {
  position: absolute;
  top: 550px;
  left: 140px;
}
.Ellipse204 {
  position: absolute;
  top: 550px;
  left: 180px;
}

.modal__container {
  background-color: #fff;
  display: flex;
  z-index: 10000;
}

.list {
  font-family: Gilroy;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 58px;
  text-align: left;
  letter-spacing: 0.06em;
  color: #000000;
  position: absolute;
  top: 100px;
  left: 420px;

}
.ul {
  list-style: none;
}
.li {
  padding: 12px;
  cursor: pointer;
}

.modal__redDivider {
  position: static;
width: 130px;
height: 8px;
left: 0px;
right: 354px;
top: 424px;

/* TED Red */

background: #E62B1E;

/* Inside Auto Layout */

flex: none;
order: 4;
flex-grow: 0;
margin: 48px 0px;
}
