.container {
  background-color: #FFFAFA;
  position: absolute;
  display: flex;
  flex-direction: column;
}

.title {
position: absolute;
width: 150px;
height: 29px;
left: 162px;
top: 911px;

font-family: Gilroy;
font-style: normal;
font-size: 25px !important; 
line-height: 29px;
/* identical to box height */


/* heading black */

color: #26252A;
}

@font-face {
  font-family: 'Gilroy';
  src: local('Gilroy'), url(./fonts/Gilroy/Gilroy-Regular.otf) format('opentype');
}

@font-face {
  font-family: 'Helvetica';
  src: local('Gilroy'), url(./fonts/Helvetica/Helvetica.ttf) format('truetype');
}

.para {

position: absolute;
width: 662px;
height: 168px;
left: 616px;
top: 911px;

font-family: Helvetica Neue;
text-align: justify;
/* text black */

color: #2A2A2A;

}

.btn {
position: absolute;
width: 160px;
height: 42px;
left: 616px;
top: 1140px;
background: #E62B1E;

font-family: Gilroy;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 22px;
/* identical to box height */


/* TED White */

color: #FFFFFF;

}

